<% provide(:title, "Sobre nós") %>
<h1>Sobre nós</h1>
<p>
  Este projecto é um portal destinado a uma Bolsa de Emprego.</p>
<h3>Objectivo:</h3>
<p>  Os candidatos e entidades após efetuarem o seu registo,
  poderão pesquisar e demonstrar o seu interesse mútuo. As entidades poderão também indicar ofertas de emprego que possuam e os candidatos poderão fazer a sua candidatura.</p>
<h3>Administração:</h3>
  <p>Existirá um perfil de backoffice reponsável por gerir notícias e poder editar qualquer registo de sistema quer seja de um candidato ou de uma entidade.
</p>
