<% provide(:title, 'Contactos') %>
<h1>Contactos</h1>
<p>
  Administrador: <ul>
  <li>
    <a href="https://bitbucket.org/rotiv_13/bolsa_emprego">Vitor Afonso</a>
  , <a href="mailto:vitor.afonso@wiremaze.com">vitor.afonso@wiremaze.com</a> </li>
</ul>

</p>
