<% provide(:title, "Ajuda") %>
<h1>Ajuda</h1>
<p>
  Para qualquer problema com a utilização do website
  por favor contacte o administrador <a href="https://bitbucket.org/rotiv_13/bolsa_emprego">Vitor Afonso</a>
</p>
