<% provide(:title, "Home") %>
<div class="row">
  <aside class="col-md-6">
    <section class="">
      <h1>
        Últimas Ofertas
      </h1>
      Ofertas
      <%= link_to 'Ver todas as Ofertas' %>
    </section>
  </aside>
  <aside class="col-md-6">
    <section class="">
      <h1>
        Notícias
      </h1>
      Notícias
      <%= link_to 'Ver todas as Notícias' %>
    </section>
  </aside>
</div>
<div class="row">
  <aside class="col-md-6">
    <section class="">
      <h1>
        Últimas Empresas
      </h1>
      Empresas
      <%= link_to 'Ver todas as Empresas', '#' %>
    </section>
  </aside>
  <aside class="col-md-6">
    <section class="">
      <h1>
        Últimas Ofertas
      </h1>
      Ofertas
      <%= link_to 'Ver todos os Candidatos', '#' %>
    </section>
  </aside>
</div>