<h1>Reset da Password</h1>

<p>Para fazer reset a sua password por favor clique no link em baixo:</p>

<%= link_to "Reset da password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>O link tem um prazo de expiração de 2 horas</p>

<p>
  Se não pediu um reset de password, por favor ignore este email e a sua password vai ficar como esta.
</p>