<% provide(:title, 'Editar Dados') %>
<% provide(:button_text, 'Guardar Alterções') %>
<h1>Editar os meus dados</h1>
<div class="row">
  <div class="col-md-12 ">
    <%=  render 'layouts/form_register' %>
  </div>
</div>