<% provide(:title, 'Editar Dados') %>
<% provide(:button_text, 'Guardar Alterações') %>

<div class="row">
  <aside class="col-md-4">
    <h3>Editar Dados</h3>
  </aside>
</div>

<div class="row">
  <div class="col-md-12 ">
        <%=  render 'users/edit_user' %>
  </div>
</div>