<% provide(:title, 'Editar Dados') %>
<% provide(:button_text, 'Guardar Alterações') %>
<% provide(:data, yield(:data)) %>
<div class="row">
  <aside class="col-md-4">
    <h3>Editar os meus dados</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
        <%=  render 'users/edit_user' %>
  </div>
</div>