<% provide(:title, 'Editar Dados') %>
<% provide(:button_text, 'Guardar Alterações') %>
<% provide(:data, yield(:data)) %>

<div class="row">
  <div class="col-md-12 ">
        <%=  render 'users/edit_user' %>
  </div>
</div>