<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <h3><%= @title %></h3>
  </aside>
</div>
<div class="row">
  <aside class="col-md-4">

  </aside>

  <aside class="col-md-4">

  </aside>

  <aside class="col-md-4">

  </aside>

</div>
<div class="row">
  <% @users.each do |user|  %>
      <div class="col-md-6">
        <%= render user %>
      </div>
  <% end %>

  <%= will_paginate %>
</div>