<% provide(:title, 'Novo Candidato') %>
<% provide(:button_text, 'Registar') %>
<% provide(:entitie, 'false') %>
<% provide(:data, 'register') %>
<% provide(:idnumber, 'Nº do Cartão do Cidadão') %>
<h1>Novo Candidato</h1>

<div class="row">
  <%= render 'layouts/form_register' %>
</div>