<% provide(:title, 'Nova Entidade') %>
<% provide(:button_text, 'Registar') %>
<% provide(:data, 'register') %>
<% provide(:idnumber, 'NIF') %>

<h1>Nova Entidade</h1>

<div class="row">
  <%= render 'layouts/form_entitie' %>
</div>
