<% provide(:title, @user.name) %>
<div class="row profile">
  <%  if @user.entitie == '2' %>
      <%= render 'entitie' %>
  <% elsif @user.entitie == '1' %>
      <%= render 'candidate' %>
  <% else %>
      <%= render 'users/admin' %>
  <% end %>
</div>