<aside class="col-md-12">
  <section>
    <div class="col-md-8">
      <%= link_to news.title, news %>
          <p><%= news.date %></p>
          <p><%= news.summary %></p>
          <p><%= news.text %></p>
    </div>
  </section>
</aside>