<% provide(:title, 'Inserir/Editar') %>
<% provide(:data, params[:data]) %>
<% provide(:backoffice, true) %>

<div class="row">
  <aside class="col-md-4">
    <h3>Inserir/Editar</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
    <%= simple_form_for @user, url: backoffice_edit_users_path do |f| %>
        <%= render 'layouts/form_user_backoffice', :f => f %>
  <% end %>
  </div>
</div>