<div class="row">
  <aside class="col-md-4">
    <h3>Inserir/Editar</h3>
  </aside>
</div>
<%= simple_form_for @user, url: new_backoffice_path do |f| %>
    <%= render 'layouts/form_user_backoffice', :f => f %>
<% end %>