<aside class="col-md-12">
  <section>
    <div class="col-md-3">
      <%= image_tag news.picture? ? news.picture.url : 'default-news-image.jpg', style: 'width:100%;' %>
    </div>
    <div class="col-md-9">
      <%= link_to news.title, news %>
      <p><%= news.date %></p>
      <p><%= news.summary.first(70) %> </p>
    </div>
  </section>
</aside>