<h3>
  Dados Profissionais
</h3>
<br>
<h4><strong>Situação Profissional</strong></h4>
<p><%= @candidate.professional_situ %></p>
<h4><strong>Nível Habilitações</strong></h4>
<p><%= @candidate.habilitations %></p>
<h4><strong>Habilitações Literárias</strong></h4>
<p><%= @candidate.skills %></p>
<h4><strong>Experiência Profissional</strong></h4>
<p><%= @candidate.professional_exp %></p>