<% provide(:title, 'Inserir/Editar | Oferta ') %>

<aside class="col-md-12 user_info_avatar">
  <section>
    <h1>
      Inserir/Editar Oferta
    </h1>
  </section>
</aside>
<%= render 'layouts/form_offer' %>