<footer class="footer">
  <small>
    O seu local para encontrar emprego
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ajuda",    help_path %></li>
      <li><%= link_to "Sobre nós", about_path %></li>
      <li><%= link_to "Contactos", contact_path %></li>
    </ul>
  </nav>
</footer>
