
<div class="col-md-2">
  <%= f.input :skill_level, label: "Nível de Habilitações", collection: (['Secundário','Licenciatura','Mestrado','Doutoramento']) %>
</div>
<div class="col-md-12">
  <%= f.input :skills,as: :text, label: "Habilitações Literárias", placeholder: 'Percurso académico, habilitações, etc.' %>
</div>
<div class="col-md-2">
  <%= f.input :prof_situation, label: "Situação Profissional" ,collection: (['Empregado','Desempregado']) %>
</div>
<div class="col-md-12">
  <%= f.input :prof_experience,as: :text, label: "Experiência Profissional", placeholder:'Projecto e tecnologias que trabalhou na empresa anterior.' %>
</div>