<h3>
  Dados Profissionais
</h3>
<br>
<h4><strong>Situação Profissional</strong></h4>
<p><%= @user.prof_situation %></p>
<h4><strong>Nível Habilitações</strong></h4>
<p><%= @user.skill_level %></p>
<h4><strong>Habilitações Literárias</strong></h4>
<p><%= @user.skills %></p>
<h4><strong>Experiência Profissional</strong></h4>
<p><%= @user.prof_experience %></p>